*{
  font-size: 20px;
  color: #32435F;
  transition: all 0.5s;
}
h1 {
  font-size: 42px;
}
h3 {
  font-size: 26px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
